
body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
    
  }
  
header{
    border-radius: 5px;
    background-color: #464898;   
    padding-left: 5px;
}
.headbar{
    color: white;
    font-size: 100px;
    margin: auto;
   /* color: white;
    font-size: 100px;
    */
}
header h1{  

    text-align: left;
   /* font-size: 100px;
    margin: auto;
    padding: 34px;
    */
}

header div{
    color: white;
    text-decoration: none;
    /*display: flex;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    */
}

header div a{
    text-decoration: none;
    color: white;
}